body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: aqua;
}
#map{
    height:100vh;
}
.title{
    position: absolute;
    left: 59px;
    top: 70px;
    font-size: 60px;
    z-index: 30;
    font-weight: bold;
    text-transform: uppercase;
    color: #242427;
}
.search-container{
    width: 320px;
    height: 55px;
    background: #242427;
    position: absolute;
    z-index: 30;
    top: 145px;
    left: 64px;
    border-radius: 30px;
}
.search{
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.search input{
    width: 100%;
    font-size: 25px;
    border: none;
    background: transparent;
    color: white;
}
.search input:focus{
    outline: none;;
}
.search i{
    color:white;
    font-size: 25px;
}
.stores-list-container{
    width: 320px;
    background: white;
    position: absolute;
    z-index: 30;
    top: 215px;
    left: 64px;
    border-radius: 30px;
    bottom:20px;
}
.stores-list{
    margin-left: 20px;
    margin-right: 20px;
    margin-top:5px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    width: 2px;
}
::-webkit-scrollbar-thumb{
    background:#999;
}
::-webkit-scrollbar-track{
    background: white;
}
.store-container{
    display:flex;
    border-bottom:2px solid #979797;
    margin-right:5px;
    cursor: pointer;
}
.store-info-container{
    flex-grow:1;
}
.store-address{
    font-size:21px;
    color:514c4c;
    margin-top:20px;
}
.store-phone-number{
    color:#B5ADAD;
    margin-top: 15px;
    margin-bottom:15px;
}
.store-number-container{
    display: flex;
    align-items: center;
}
.store-number{
    width:30px;
    height: 30px;
    color:white;
    border-radius: 50%;
    background-color: #454E53;
    display:flex;
    align-items: center;
    justify-content: center;
}
.store-address span{
    display:block;
}
.store-info-window{
    min-width: 300px;
}
.store-info-name{
    font-weight: bold;
    font-size: 20px;
}
.store-info-status{
    padding-top: 3px;
    border-bottom: 2px solid #bbb;
    padding-bottom: 3px;
    margin-bottom: 4px;
    color: #888;
}
.store-info-address, .store-info-number{
    color: #333;
    display:flex;
}
.info-window-icon{
    width: 21px;
    height: 21px;
    border-radius: 50%;
    color: white;
    background: #62636b;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;  
}
.info-window-icon .fas{
    margin-right: 2px;
}
.store-info-address a{
    text-decoration: none;
}